@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");


@theme {
  --font-body: "Rubik", sans-serif;
  --font-heading: "Rubik Mono One", monospace;
}

@layer utilities {
  .font-body {
    font-family: var(--font-body);
  }

  .font-heading {
    font-family: var(--font-heading);
  }
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  background: #050505;
  color: #ffffff;
}

.get-started {
  position: relative;
  overflow: hidden;

  padding: 16px 32px;
  border-radius: 16px;

  background: white;
  color: black;

  border: none;
  outline: none;

  font-family: inherit;
  font-weight: 500;

  isolation: isolate;
  transition: color 0.3s ease;
}

/* Sliding background */
.get-started::before {
  content: "";
  position: absolute;
  inset: 0;

  background: #3E64CB;

  transform: translateX(-101%);
  transition: transform 0.4s ease;

  z-index: -1;
}

.get-started:hover::before {
  transform: translateX(0);
}

.get-started:hover {
  color: white;
}

/* Remove browser focus border */
.get-started:focus,
.get-started:focus-visible {
  outline: none;
  border: none;
}